NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhqYmlvaHl5ZGhlY2d0dXpwcG56Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTIwNjE0MjMsImV4cCI6MjA2NzYzNzQyM30.PEYFXoFxmmLgm3uW9KH2RwS1LrjTLZKOU8uepLs_CtY"
NEXT_PUBLIC_SUPABASE_URL="https://xjbiohyydhecgtuzppnz.supabase.co"
partecipazioni_POSTGRES_DATABASE="postgres"
partecipazioni_POSTGRES_HOST="db.xjbiohyydhecgtuzppnz.supabase.co"
partecipazioni_POSTGRES_PASSWORD="hcEftcQB5TSK5L8s"
partecipazioni_POSTGRES_PRISMA_URL="postgres://postgres.xjbiohyydhecgtuzppnz:hcEftcQB5TSK5L8s@aws-0-eu-central-1.pooler.supabase.com:6543/postgres?sslmode=require&pgbouncer=true"
partecipazioni_POSTGRES_URL="postgres://postgres.xjbiohyydhecgtuzppnz:hcEftcQB5TSK5L8s@aws-0-eu-central-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x"
partecipazioni_POSTGRES_URL_NON_POOLING="postgres://postgres.xjbiohyydhecgtuzppnz:hcEftcQB5TSK5L8s@aws-0-eu-central-1.pooler.supabase.com:5432/postgres?sslmode=require"
partecipazioni_POSTGRES_USER="postgres"
partecipazioni_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhqYmlvaHl5ZGhlY2d0dXpwcG56Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTIwNjE0MjMsImV4cCI6MjA2NzYzNzQyM30.PEYFXoFxmmLgm3uW9KH2RwS1LrjTLZKOU8uepLs_CtY"
partecipazioni_SUPABASE_JWT_SECRET="N4oVbt4i3n7IlF9tYDYvz0h6g3efpJJe9MarrChIFKAlGSBTk7PqFRwOMuGBswYW61wJQ3EfQn03danPF+PBEg=="
partecipazioni_SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhqYmlvaHl5ZGhlY2d0dXpwcG56Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MjA2MTQyMywiZXhwIjoyMDY3NjM3NDIzfQ.7UohN5tkZ4nATBoDEnrUDHpSKgz7K1AxL9QgD2K2XPs"
partecipazioni_SUPABASE_URL="https://xjbiohyydhecgtuzppnz.supabase.co"
